/* Site footer */

#colophon {

	.widget-area,
	.site-info {
		margin: calc(2 * #{$size__spacing-unit}) 0;

		@include media(tablet) {
			margin: calc(3 * #{$size__spacing-unit}) 0;
		}
	}

	.widget-column {
		display: flex;
		flex-wrap: wrap;
		.widget {
			width: 100%;
			@include media(desktop) {
				margin-right: calc(3 * #{$size__spacing-unit});
				width: calc(50% - (3 * #{$size__spacing-unit}));
			}
		}
	}

	.site-info {
		color: $color__text-footer;

		a {
			color: inherit;

			&:hover {
				text-decoration: none;
				color: $color__text-footer;
			}
		}

		.imprint,
		.privacy-policy-link {
			margin-right: $size__spacing-unit;
		}
	}
}

.site-footer {
	padding: 0 $size__spacing-unit;
	background: rgba(100, 100, 100, 0.85);
	margin: 0;


	@include media(desktop) {
		max-width: $size__site-desktop-content;
		margin: 0 $size__site-desktop-outer-margin;
		padding: 0 60px;
	}
}