table, .wp-block-table {
	margin: 0 0 $size__spacing-unit;
	border-collapse: collapse;
	width: 100%;
	@include font-family( $font__body );

	td,
	th {
		padding: 0.5em;
		border-style: dashed none;
		border-top-width: 1px;
		border-color: $color__text-light;
		word-break: break-word;
		vertical-align: top;
	}
}
